@model MyWebAPI.Data.ViewModels.ConfirmPasswordModel

<div class="signin position-relative overflow-hidden radial-gradient d-flex align-items-center justify-content-center">
    <div class="d-flex align-items-center justify-content-center w-100 py-4">
        <div class="row justify-content-center w-100">
            <div class="col-md-6">
                <div class="card mb-0">
                    <div class="card-body">
                        <p class="text-center fs-5">Tạo mật khẩu mới</p>
                        <form asp-action="ConfirmPassword" method="POST">
                            <div class="mb-3">
                                <label asp-for="pass" class="form-label">Mật khẩu mới</label>
                                <input type="password" asp-for="pass" class="form-control" id="pass" aria-describedby="emailHelp">
                                <span asp-validation-for="pass" class="text-danger fs-2"></span>
                            </div>
                            <div class="mb-4">
                                <label asp-for="newPassword" class="form-label">Xác nhận mật khẩu</label>
                                <input type="password" asp-for="newPassword" class="form-control" id="newPassword">
                                <span asp-validation-for="newPassword" class="text-danger fs-2"></span>
                                <span>
                                    @Html.ValidationMessage("ErrorConfirmPassword", new { @class = "text-danger fs-2" })
                                </span>
                            </div>
                            <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Xác nhận</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
