@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="map" class="position-fixed" style="width: 100%; max-height: 250px; max-width: 400px; right: 0; bottom: 0"></div>