body, html {
    height: 100%;
    width: 100%;
}

#map {
    height: 50%;
    width: 20%;
}

.item{
    margin: 5px 0;
    width: 70%;
}
.item > div{
    font-weight: bold;
    font-size: 12px;
    padding: 8px;
}
#list{
    min-height: 150px;
    max-height: 350px;
    overflow: auto;
}
.date{
    padding: 0px;
    font-size: 8px;
}
.date > th {
    padding-top: 2px;
    padding-bottom: 2px;
}
td.box{
    padding: 0px 2px;
}
.box > .item{
    width: 100%;
}
.box > .item > div {
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
    overflow: auto;
}
th{
    width: 1000px;
}
#logoGG{
    width: 8%;
}
