body, html {
    height: 100%;
    width: 100%;
}
#map {
    height: 100%;
    width: 100%;
}
.item {
    margin: 5px 0;
    width: 70%;
}
.item > div{
    font-weight: bold;
    font-size: 12px;
    padding: 8px;
}
#list{
    min-height: 150px;
    max-height: 350px;
    overflow: auto;
}
.date{
    padding: 0px;
    font-size: 8px;
}
.date > th {
    padding: 3px 0;
}
td.box{
    padding: 0px 2px;
}
.box > .item{
    width: 100%;
}
.box > .item > div {
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
    overflow: auto;
}
thead tr th:not(:first-child){
    width: 100px;
}
.tbody tr td:not(:first-child) {
    width: 100px;
}
#logoGG{
    width: 8%;
}
.thead-schedule tr:first-child th:nth-child(-n+2){
    width: 0%;
}

.thead-schedule tr:first-child th{
    color: black;
    background-color: antiquewhite;
}
.thead-schedule tr:nth-last-child(-n+1) th, .tbody-schedule tr td:first-child {
    background-color: lightgreen;
}